*{
  margin: 0;
  padding: 0;
  font-family: Lobster;
}
body{
  background: #000 url(Background.png) ;
  background-attachment: fixed;
}
.container{
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  background: url(Background.png);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
  0 2px 2px rgba(0,0,0,0.12),
  0 4px 4px rgba(0,0,0,0.12),
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.container h2{
  text-align: center;
  font-size: 50px;
  line-height: 16px;
  color: #fff;
  margin-top: -80px;
  text-shadow: #000 0px 1px 5px;
}
.container h2 span{
  display: block;
  letter-spacing: 6px;
  font-size: 60px;
  margin-top: 50px;
}
.countdown{
  display: flex;
  margin-top: 50px;
}
.countdown div{
  position: relative;
  width: 116px;
  height: 116px;
  line-height: 90px;
  text-align: center;
  color: #fff;
  font-size: 62px;
  text-shadow: #000 0px 1px 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12),
  0 -8px 8px rgba(0,0,0,0.12),
   0 4px 4px rgba(0,0,0,0.12),
   0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.countdown #second {
  color: #FF2525;
}
.countdown div::before{
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 50px;
  color: #dddddd;
  font-size: 30px;
  line-height: 35px;
  text-shadow: #000 0px 1px 2px;
}
.countdown #day:before{
  content: 'Days';
}
.countdown #hour:before{
  content: 'Hours';
}
.countdown #minute:before{
  content: 'Minutes';
}
.countdown #second:before{
  content: 'Seconds';
  color: #FF2525;
}

@font-face {
  font-family: Lobster;
  src: url(Lobster-Regular.ttf);
}
